body {
  margin-top: 100px;
  margin-left: 200px;
}

:root {
  --font: 'avenir', sans-serif;
}

h1, h2, h3, h4 {
  font-family: var(--font);
  font-weight: bold; 
}

p {
  font-family: var(--font);
   font-weight: 100;
}
 a {
   font-family: var(--font);
   font-weight: 100;
   text-decoration: none;
   color: #000;
 }

  a:hover {
   color: grey;
   transition: 1s;
   text-decoration: underline;
 }

 table, th, td {
  font-family: var(--font);
  border: 1px solid black;
  text-align: left;
  padding: 20px;
 }

 table {
   border-collapse: collapse;
 }